
<div id="grain" role="alert" style="color:rgb(255, 255, 255); font-size: large;padding:5px;">
    <marquee><strong >30% off on all the Grains Products.35% off on Fertilizers and 40% off on all machineries. Hurry up!!</strong> </marquee>
    </div>

<div style="margin-top: 30px;">
    <div class="row">
        <!--1st column-->
        <div class="col col-lg-3">
            <h6 style="padding-left: 20px; color:rgb(28, 99, 28); text-shadow: 2px 2px 5px green;">Sample Links for the Cultivation</h6>
            <div class="color"><img src="https://th.bing.com/th/id/R.3fcda175db654281c54be41444038184?rik=wKIL37PI7h4B5w&riu=http%3a%2f%2fcdn.shopify.com%2fs%2ffiles%2f1%2f1061%2f1924%2fproducts%2fDown_Pointing_Backhand_Index_Emoji_Icon_ios10_grande.png%3fv%3d1513251033&ehk=qgfF8AAF8bVJs3SYWHJJUy%2b4DO5vDOjgUB%2fIxk39lfo%3d&risl=&id=ImgRaw&r=0"class="emoji" ></div>
            <br>
            <a style="margin-left: 50px;" target="_blank" href="https://youtube.com/embed/getElementById/pf07w8CNRJU">Chilly Cultivation</a><br>
            <a style="margin-left: 50px;" target="_blank" href="https://youtube.com/embed/3lY2V3zfmjE">Arecanut Farming</a><br>
            <a style="margin-left: 50px;" target="_blank" href="https://youtube.com/embed/MR0CA9spq0M">Ladies Finger Cultivation</a><br>
            <a style="margin-left: 50px;" target="_blank" href="https://youtube.com/embed/s9afVoIRReU">Organic Coconuy Farmimg</a><br>
            <a style="margin-left: 50px;" target="_blank" href="https://youtube.com/embed/7w0XuoqvCFg">Rice Cultivation</a><br>
            <a style="margin-left: 50px;" target="_blank" href="https://youtube.com/embed/ZfTIyrGQ8Fc">Sugarcane Farming</a><br>
            <a style="margin-left: 50px;" target="_blank" href="https://youtube.com/embed/AKwNLhbCowE">Pineapple Farming</a><br><hr>
            <img style="width: 380px; height: 350px;" src="https://live.staticflickr.com/3491/4078015034_56ef712e86_b.jpg"><br><br><br>
            <img style="width: 380px;" src="https://img.freepik.com/free-photo/thai-farmer-driving-tiller-tractor-plow-paddy-field-prepare-new-rice_38545-416.jpg?size=626&ext=jpg"><br><br><br>
            <img style="width: 380px; height:300px;" src="https://i.pinimg.com/originals/1c/7e/fd/1c7efd9bca0de498d988828de037cd59.jpg"><br><br><br>
            <img style="width: 380px;" src="https://th.bing.com/th/id/OIP.32MC7uHheQbiSL3St4GvcwHaE8?id=ImgDet&rs=1"><br><br><br>
            <img style="width: 380px; height: 300px;" src="https://th.bing.com/th/id/OIP.5AZpopJ6m-1Nr5dYgDcK5wAAAA?id=ImgDet&w=178&h=178&c=7&dpr=1.5"><br><br><br>
        </div>

        <!--2nd column-->
        <div class="card col-lg-6" style="border:none;margin-top: 30px;background-color: rgb(224, 237, 224);">
            <app-grains [product]="productItem" *ngFor="let productItem of all"></app-grains>
        </div>
        <!--3rd column-->
       <div class="col col-lg-3">
        <h4 style="color:rgb(12, 87, 12); text-shadow: 2px 2px 5px green;">CPCRI Farming Techniques</h4><hr><br>
           <iframe style="width: 260px;" src="https://youtube.com/embed/ZfTIyrGQ8Fc"></iframe><br><br><br>
           <iframe style="width: 260px;"src="https://youtube.com/embed/s9afVoIRReU"></iframe><br><br><br>
           <iframe style="width: 260px;" src="https://youtube.com/embed/Hsb8EucAayk"></iframe><br><br><br>
           <iframe  style="width: 260px;" src="https://youtube.com/embed/AKwNLhbCowE"></iframe><br><br><br>
           <iframe style="width: 260px;" src="https://youtube.com/embed/SAVSVazfmcE"></iframe><br><br><br>
           <iframe style="width: 260px;" src="https://youtube.com/embed/8Ftum5WCbTw"></iframe><br><br><br>
           <iframe style="width: 260px;" src="https://youtube.com/embed/TEW1CFmbVzU"></iframe><br><br><br>
           

        </div>
    </div>
</div>