<div class="row" style="background-color:rgb(7, 83, 7);">
    <div class="col-xl">
        <img src="https://i.pinimg.com/originals/d3/6c/e4/d36ce43dd8bd8c81ea32220d485bfa09.jpg" style="height:490px; width:700px;justify-items: left;">
    </div>
    <div class="col-xl">
        <h4 style="color: rgb(255, 255, 255);margin-left: 210px;margin-top: 30px;"><b><p>About &#xf518;</p></b></h4><hr>
        <p style="color: rgb(255, 255, 255);">Agriculture, with its allied sectors, is unquestionably the largest livelihood provider in India, more so in the vast rural areas. It also contributes a significant figure to the Gross Domestic Product (GDP). Sustainable agriculture, in terms of food security, rural employment, and environmentally sustainable technologies such as soil conservation, sustainable natural resource management and biodiversity protection, are essential for holistic rural development. Indian agriculture and allied activities have witnessed a green revolution, a white revolution, a yellow revolution and a blue revolution. We are also providing Grains, Fertilizers and Machineries for the better growing of the crops with great discounts. Farmer can apply for the scheme through our Website.</p>
    </div>
</div>



<div class="row" style="background-color:rgb(7, 83, 7);"><br><br>
    <div class="col-xl"><br><br>
      <h4 style="color:rgb(253, 253, 253); margin-left: 150px;margin-top: 40px;  "><b>FARM-EASY</b></h4><br>

    <h6 style=" color: white;margin-left: 120px;margin-top: 20px;">ANY ENQUIRIES CONTACT US</h6>
    <P style=" color: white;margin-left: 80px;">Conatct Info: +91-9876543210, +91-6789054876</P>

    <p style=" color: white;margin-left: 130px;">Email: farmeasy@gmail.com</p>
    <p style="margin-left: 40px;color:white;margin-right: 30px;">Address:  CPCRI Head quarters, KASARAGOD (Estd.: 1916) Kudlu.P.O, </p>
    <p style="margin-left:130px;color:white;margin-right: 30px;">Kasaragod, Kerala, 671124</p>
    <hr style="color: white;">
    <a style=" color: white;margin-left: 90px;" href="https://www.india.gov.in/topics/agriculture"target="_blank" ><b>Click here to know more about us</b></a><br><br>
    <a target="_blank" style=" color: white; margin-left: 170px;" href=" https://www.facebook.com/cpcrikasaragod.kerala">FACEBOOK</a>
  
    
</div>
<div class="col-xl"><br><br>
    <h5 style="color: white; text-align:center;padding:5px;">LOCATION</h5>
    <iframe style="text-align: 50px;margin-top: 20px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13260.427747108595!2d74.95414395294279!3d12.537878742941318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba4829d7f83c961%3A0xa8497ee212ba1bc4!2sKendriya%20Vidyalaya%20No.1%20CPCRI%20Kasaragod!5e0!3m2!1sen!2sin!4v1663819309231!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>"
    <br> 

</div>  

<hr style="color: white;">
</div>




