<body>
<form style="margin-left: 40px;">
        <h4 style="text-shadow: 2px 2px 2px white;padding-top:10px;"><b>APPLICATION FOR THE SCHEMES</b></h4><br>
        <div>
        <label style="color:rgb(7, 7, 7);text-shadow: 2px 2px 2px white;"><b> Name</b></label><br>
        <input type="text" name="fname" placeholder="Enter your name"required><br>
    </div><br>
      <div>
        <label style="color:rgb(0, 0, 0);text-shadow: 2px 2px 2px white;">Phone No</label><br>
        <input type="number" placeholder="Enter Phone number"required><br><br>
    </div>

    <div>
        <label style="color:rgb(0, 0, 0);text-shadow: 2px 2px 2px white;">Address</label><br>
        <textarea placeholder="Enter Address" required></textarea><br>
    </div>
  
    <div>
        <label style="color:rgb(0, 0, 0);text-shadow: 2px 2px 2px white;">The Schemes you want to Apply:</label><br>
        <input type="checkbox" value="value1" style="color:rgb(0, 0, 0);"><label style="color:rgb(0, 0, 0);text-shadow: 2px 2px 2px white;">Information on National Livestock Mission</label><br>
        <input type="checkbox" value="value2" style="color:rgb(0, 0, 0);"><label style="color:rgb(0, 0, 0);text-shadow: 2px 2px 2px white;">Information on Agriclinic and Agribusiness Centres Scheme</label><br>
        <input type="checkbox" value="value3" style="color:rgb(0, 0, 0);"><label style="color:rgb(0, 0, 0);text-shadow: 2px 2px 2px white;">Agriculture Infrastructure Fund (AIF) in Agri Infrastructure Loan</label><br>
        <input type="checkbox" value="value4" style="color:rgb(0, 0, 0);"><label style="color:rgb(0, 0, 0);text-shadow: 2px 2px 2px white;">Agricultural Marketing Infrastructure (AMI) in Agri Infrastructure Loan</label><br>
        <input type="checkbox" value="value5" style="color:rgb(0, 0, 0);"><label style="color:rgb(0, 0, 0);text-shadow: 2px 2px 2px white;">Agri-Clinic and Agribusiness Centers Scheme (ACABC) in Agri Infrastructure Loan</label><br><br>
    </div>
        <button (click)="onClick()" style="color:rgb(0, 0, 0);border-radius:4px;background-color:rgb(214, 230, 214);border-color:rgb(48, 85, 48)" type="submit">SUBMIT</button>

</form>
</body>