<body>

    <div class="row" >
    <div class="col-xl">
        <img src="https://www.kindpng.com/picc/m/179-1791449_transparent-green-leaf-logo-hd-png-download.png" style="height: 35px; width:35px;margin-left: 590px;">
    </div>
    <div class="col-xl">
        <h2 style="color: rgb(57, 113, 57); text-shadow:1px 1px 3px black;text-align: left;"><b>FARM-EASY</b></h2>
    </div>
</div>
    
    <div class="col-md-12 min-vh-100 d-flex flex-column">
        <div class="login-form">
            <form class="mt-5" [formGroup]="registerForm" (ngSubmit)="submitHandler()">
                <h2 style="text-shadow: 3px 3px 3px rgb(45, 156, 45);" class="text-center secondary ms-mb-m main-heading ng-binding">SIGNUP</h2>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" formControlName="username"
                        placeholder="Enter Username" >
                    <label class="error ng-binding" *ngIf="submitted && f['username'].invalid">Name is required
                    </label>
                </div>
                <br>
                <div class="form-group">
                    <input type="email" class="form-control" name="useremail" formControlName="useremail"
                        placeholder="Enter email">
                    <label class="error ng-binding" *ngIf="submitted && f['useremail'].invalid">Email is required
                        </label>
                    <label class="error ng-binding" *ngIf="submitted && f['useremail'].errors?.['useremail']">Email must be a valid email address</label>
                </div>
                <br>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" formControlName="password"
                        placeholder="Enter password">
                    <label class="error ng-binding" *ngIf="submitted && f['password'].invalid">Password is
                        required</label>
                        <label class="error ng-binding" *ngIf="submitted && f['password'].errors?.['minlength']">Password must be at least 6 characters</label>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="mobile" formControlName="mobile"
                        placeholder="Enter Mobile number">
                    <label class="error ng-binding" *ngIf="submitted && f['mobile'].errors?.['required']">Mobile number
                        is
                        required</label>

                </div>
                <br>
                <button type="submit" class="btn btn-outline-success" class="btn btn-primary">Register</button>
                <div class="text-center ms-mt-x ms-mb-m register-already-account" style="padding-top:30px">
                    <span style="color: white;" class="ms-fs-12 ng-binding">Already have an account?
                        <a class="secondary ng-binding" href="login">
                            Login!
                        </a>
                    </span>
                </div>
            </form>
        </div>
    </div>

</body>




      
  




